#aboutbody{

    background: rgb(245,245,245);
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(135,199,181,1) 10%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    h3{
        margin-top:1%;
        font-size:2.5rem;
    }


      .navbar{
          border:1px solid darkgrey;
      }
  //     // .navbar .navbar-brand{
  //     //     font-family: 'Fugaz One', cursive;
  //     //     color: #85bb65;
  //     //     font-size: 6rem;
  //     //     width: 100%;
  //     //     text-align:center;
          
  //     // }
  //     // .navbar .navbar-brand:hover{
  //     //     color:#000;
  //     // }
      
  
  }



.pic-box{
  text-align:center;
}
#teampic{
  padding-top:1%;
  max-width:100%;
  
}

    .navbar .navbar-brand{
        font-family: 'Fugaz One', cursive;
        color: #85bb65;
        font-size: 3rem;
        width: 50%;
    }
    .navbar .navbar-brand:hover{
      color: #85bb65;
    }

    .navbar-light .navbar-nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .nav-link{

            font-size: 1.9rem;        
            margin-left: 5rem;       
            text-align: right;
        }
        .nav-link:hover{
            font-weight: bold;
        }
        #current{
            font-weight: bold;

        }
    }

    .mission{
        margin:0 auto;
        margin-top: 1%;
        
        width: 50rem;
        @media @mobile{
            width: 100%;
        }

        h1{
            font-size: 4rem;
            margin-bottom: 2rem;
            font-family: "Fugaz One", cursive;
        }

        p{
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
    }

// Header
.header {
    

  
    
  
  .home {
  
    .content-section {
      margin: 30px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
     
  
      .img-content {
        width: 48%;
        padding-left: 1%;
  
        @media @mobile {
          width: 100%;
          padding: 0;
        }
  
        img {
          border-radius: 10px;
  
          @media @mobile {
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}

