//background gradient and nav border

#teambody{
    background: rgb(245,245,245);
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(135,199,181,1) 10%);
    height: 100%;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: 0 auto;
    .container{
        width:100%;
    }
    h3{
        margin-top:1%;
        font-size:2.5rem;
    }
    .navbar{
        border:1px solid darkgrey;
    }
}


//spacing for headline
#teamhead{
    text-align:center;
    font-size:4rem;
    font-weight:bold;
    margin-top:2%;
    font-family: 'Fugaz One', cursive;
}

//big box of all team members
.teambox {
	display:flex;
	flex-wrap:wrap;
    justify-content:space-around;
    padding:2%;
}

//individual members
.teammember{
	width:40%;
	padding-top:2%;
	margin:1%;
	background:darkslategrey;
	border:1px solid black;
	border-radius:10px;
	text-align:center;
    color:#fff;
    img{
        height:auto;
        width:250px;
        max-width:90%;
    }
    p{
        margin:2%;
        font-size:2rem;
    }
}



	@media screen and (max-width: 1000px) {
		.teammember{
            width:95%;
            
        }
        img{
            width:80%;
            
        }
	}
