//background gradient and nav border

#teambody{
    background: rgb(245,245,245);
    background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(135,199,181,1) 10%);
    height: 100%;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: 0 auto;
    .container{
        width:100%;
    }
    h3{
        margin-top:1%;
        font-size:2.7rem;
        font-family: 'Iceland', cursive;
    }
    .navbar{
        border:1px solid darkgrey;
    }
}


//spacing for headline
#teamhead{
    text-align:center;
    font-size:4rem;
    font-weight:bold;
    margin-top:2%;
    font-family: 'Fugaz One', cursive;
}

//big box of all team members
.teambox {
	display:flex;
	flex-wrap:wrap;
    justify-content:space-around;
    padding:2%;
}

//individual members
.teammember{
	width:40%;
	padding-top:2%;
	margin:1%;
	background:darkslategrey;
	border:1px solid black;
	border-radius:10px;
	text-align:center;
    color:#fff;
    
    img{
        height:auto;
        width:250px;
        max-width:90%;
        border-radius:10px;
    }
    p{
        margin:2%;
        font-size:2rem;
        font-family: 'Iceland', cursive;
    }
}



	@media screen and (max-width: 1000px) {
		.teammember{
            width:95%;
            
        }
        img{
            width:80%;
            
        }
	}

    #thanksbox{
        font-size: 2.5rem;
        text-align:center;
        color:darkslategrey;
        margin:4% 0%;
        font-family: 'Lato', sans-serif;
    }



    #animBox{
        
       
        
        
        
        width: 124px;
        height: 113px;
        
        position: absolute;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration:8.8s;
        
        animation-iteration-count: infinite;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        @media @mobile{
            display:none;
        }
    
    }
    
  

@-webkit-keyframes example {
  0%   {left:10%;}
  25%  {left:45%;}
  50%  {left:80%;}
  75%  {left:45%;}
  100% {left:10%;}
}

/* Standard syntax */
@keyframes example {
    0%   {left:10%;}
    25%  {left:45%;}
    40% {transform: rotateY(180deg);}
    50%  {left:80%;}
   
    75%  {left:45%;}
    100% {left:10%;}
}




    #animation{
        
        width:124px;
        height:113px;
        background: url("../img/spacedMoneyFrames.png") left center;
        background-size: cover;
        animation: play 1.5s steps(8) infinite;
        
    }

    @keyframes play{

        100% {background-position:-996px; }
    }