/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  height: 100%;
  padding: 0;
}
.container {
  font-size: 1.6rem;
  width: 70%;
}
@media (max-width: 690px) {
  .container {
    width: 100%;
  }
}
html {
  height: 100%;
}
html .land-body {
  background: url(../img/landing-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
html .land-body .container .navbar .navbar-brand {
  font-family: 'Fugaz One', cursive;
  color: #85bb65;
  font-size: 3rem;
  width: 50%;
}
html .land-body .container .navbar-toggler {
  background-color: #85bb65;
}
html .land-body .container .navbar-light .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
html .land-body .container .navbar-light .navbar-nav .nav-link {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.9rem;
  margin-left: 5rem;
  text-align: right;
}
html .land-body .container .navbar-light .navbar-nav .nav-link:hover {
  font-weight: bold;
}
html .land-body .container .landing {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
html .land-body .container .landing div {
  text-align: center;
}
@media (max-width: 690px) {
  html .land-body .container .landing div {
    width: 100%;
  }
}
html .land-body .container .slogan {
  font-size: 6rem;
  padding-bottom: 2.5rem;
  color: White;
  width: 100%;
}
@media (max-width: 690px) {
  html .land-body .container .slogan {
    font-size: 4.75rem;
    width: 100%;
  }
}
html .land-body .container .signup button {
  font-size: 2.5rem;
  color: white;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: #85bb65;
  border: none;
  text-shadow: 0px 1px 1px #000000;
}
@media (max-width: 690px) {
  html .land-body .container .signup button {
    font-size: 1.8rem;
  }
}
#aboutbody {
  background: #f5f5f5;
  background: linear-gradient(180deg, #f5f5f5 0%, #87c7b5 10%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
}
#aboutbody h3 {
  margin-top: 1%;
  font-size: 2.5rem;
}
#aboutbody .navbar {
  border: 1px solid darkgrey;
}
.pic-box {
  text-align: center;
}
#teampic {
  padding-top: 1%;
  max-width: 100%;
}
.navbar .navbar-brand {
  font-family: 'Fugaz One', cursive;
  color: #85bb65;
  font-size: 3rem;
  width: 50%;
}
.navbar .navbar-brand:hover {
  color: #85bb65;
}
.navbar-light .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1.9rem;
  margin-left: 5rem;
  text-align: right;
}
.navbar-light .navbar-nav .nav-link:hover {
  font-weight: bold;
}
.navbar-light .navbar-nav #current {
  font-weight: bold;
}
.mission {
  margin: 0 auto;
  margin-top: 1%;
  width: 50rem;
}
@media (max-width: 690px) {
  .mission {
    width: 100%;
  }
}
.mission h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: "Fugaz One", cursive;
}
.mission p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.header .home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 690px) {
  .header .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.header .home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 690px) {
  .header .home .content-section .img-content img {
    width: 100%;
    padding: 0;
  }
}
.container h1 {
  text-align: center;
}
.container .wrapper1 {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border: 1px solid lightgray;
}
#teambody {
  background: #f5f5f5;
  background: linear-gradient(180deg, #f5f5f5 0%, #87c7b5 10%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 70%;
  margin: 0 auto;
}
#teambody .container {
  width: 100%;
}
#teambody h3 {
  margin-top: 1%;
  font-size: 2.5rem;
}
#teambody .navbar {
  border: 1px solid darkgrey;
}
#teamhead {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 2%;
  font-family: 'Fugaz One', cursive;
}
.teambox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
}
.teammember {
  width: 40%;
  padding-top: 2%;
  margin: 1%;
  background: darkslategrey;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}
.teammember img {
  height: auto;
  width: 250px;
  max-width: 90%;
}
.teammember p {
  margin: 2%;
  font-size: 2rem;
}
@media screen and (max-width: 1000px) {
  .teammember {
    width: 95%;
  }
  img {
    width: 80%;
  }
}
#thanksbox {
  font-size: 2.5rem;
  text-align: center;
  color: darkslategrey;
  margin-top: 4%;
}
#animBox {
  width: 124px;
  height: 113px;
  position: absolute;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8.8s;
  animation-iteration-count: infinite;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
@media (max-width: 690px) {
  #animBox {
    display: none;
  }
}
@-webkit-keyframes example {
  0% {
    left: 10%;
  }
  25% {
    left: 45%;
  }
  50% {
    left: 80%;
  }
  75% {
    left: 45%;
  }
  100% {
    left: 10%;
  }
}
/* Standard syntax */
@keyframes example {
  0% {
    left: 10%;
  }
  25% {
    left: 45%;
  }
  40% {
    transform: rotateY(180deg);
  }
  50% {
    left: 80%;
  }
  75% {
    left: 45%;
  }
  100% {
    left: 10%;
  }
}
#animation {
  width: 124px;
  height: 113px;
  background: url("../img/spacedMoneyFrames.png") left center;
  background-size: cover;
  animation: play 1.5s steps(8) infinite;
}
@keyframes play {
  100% {
    background-position: -996px;
  }
}
